:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --blanco: #ffffff;
    --negro: #000000; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px*/
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/* globales */
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4{
    font-family: var(--fuenteHeading);
}
h1{
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
}

/* utilidades */
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
